body {
  background-image: url("../images/snowflakes.png");
  text-align: center;
  font-family: "Lobster";
}

h1 {
  /* font-family: "Lobster"; */
  color:#3b5e3a;
  padding: 1rem;
  font-size: 5rem;
}

p.from {
  color:#3b5e3a;
}

hr {
  color: red;
}
.img-download {
  float:right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  background-color: white;

}

.row {
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.recipe-list {
  list-style: none;
}

.i-list{
  display: block;
  margin: auto;
  width: 200px;
}

.i {
  text-align: left;
}

.transparent {
  background-color: transparent;
  text-decoration: none;
  display: block;
  border: none;
  font-size: 3rem;
  color: rgb(0, 0, 186);

}

.transparent:hover{
  color: rgb(255, 50, 50);
  cursor: pointer;
}

.recipe-item {
  text-decoration: none;
  color: rgb(0, 0, 186);
  font-size: 1.3em;

}
.recipe-item:hover {
  color: rgb(255, 50, 50);
  text-decoration: none;
}

.img-responsive {
  margin-bottom: 2em;
}

.glyphicon-print {
  float: right;
  margin-right: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.instructions{
  background-color: rgba(255, 255, 255, 0.94);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: solid rgb(2, 183, 249) 5px;
  padding-top: 3rem;
  margin-top: 2rem;
  border-radius: 15%;
}

#recipe {
  padding: 1rem;
}

.detail {
  padding: 0.2rem;
}

@media print {
  body * {
    visibility: hidden;
  }
  ul {
    list-style: square;
  }
  #recipe, .detail{
    text-align: left;
    visibility: visible;
  }
  #recipe {
    position: absolute;
    left: 0;
    top: 0;
  }
}